<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chubobin.trade.mapper.LoginMapper">
 	
 	<select id="select_loginUser" resultType="com.chubobin.trade.bean.T_MALL_USER">
 		select * from t_mall_user_account
 		where yh_mch=#{yh_mch}
 		and yh_mm=#{yh_mm}
 	</select>
</mapper>
